REACT_APP_GEMINI_API_KEY=AIzaSyCULyLu_VvontaTMnHztTF_N96yKRF786E
REACT_APP_FIREBASE_API_KEY=AIzaSyCCNg6vb5c-Uz64fYoNug833aVfQYdHc3g
REACT_APP_FIREBASE_AUTH_DOMAIN=spectra-edad0.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=spectra-edad0
REACT_APP_FIREBASE_STORAGE_BUCKET=spectra-edad0.firebasestorage.app
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=656690833450
REACT_APP_FIREBASE_APP_ID=1:656690833450:web:4122ef414beabfb2ed3b53

AI_PROVIDER=google
GOOGLE_API_KEY=YOUR_GOOGLE_API_KEY_HERE
GOOGLE_MODEL=gemma-3-12b-it
DEBUG_AI=true

ELEVENLABS_API_KEY=275d07ad2fb47a79f2e300afef32e90af0d260ed4082c8b7d346ac2a607acd13
ELEVENLABS_VOICE_ID=PIGsltMj3gFMR34aFDI3
CLOUDINARY_CLOUD_NAME=dsw7iha3n
CLOUDINARY_API_KEY=251982194655452
CLOUDINARY_API_SECRET=2j85GKric11RC_Y3Km5pTa2Dqck
